- 
    var ECO_PRODUCT_BOX = [
        {
            image: "product/13.jpg",
            productName: "Apple iPhone 12 (128GB)",
            price: "$185",
            deletePrice: "$295",
            label: "Sale",
        },
        {
            image: "product/14.png",
            productName: "Apple Watch Series 8",
            price: "$85",
            deletePrice: "$95",
        },
        {
            image: "product/21.png",
            productName: "Yellow Woman's Bag",
            price: "$75",
            deletePrice: "$150",
            badge:"Hot",
        },
        {
            image: "product/15.png",
            productName: "Latest Headphone",
            price: "$80",
            deletePrice: "$160",
            label: "Sale",
        },
        {
            image: "product/19.png",
            productName: "Brand New Sneakers",
            price: "$125",
            deletePrice: "$260",
        },
        {
            image: "product/20.png",
            productName: "Boat Headphone",
            price: "$75",
            deletePrice: "$150",
            badge:"Hot",
        },
    ];

mixin product2(data)
    div.card.bg-gray-light.rounded-5.p-3.gap-2.shadow-none
        div.card-body
            div.relative
                if (data.label)
                    span.badge.badge-xs.absolute.font-bold(class=`top-3 left-3 rounded-[3px] text-2xs bg-primary`)= data.label
                if (data.badge)
                    span.badge.badge-xs.absolute.font-bold(class=`top-3 left-3 rounded-[3px] text-2xs bg-secondary`)= data.badge
                div(class="absolute cursor-pointer post-media top-3 right-3")
                    i(data-feather="heart" class="h-5 stroke-border-light fill-border-light wish-like")
                a(href="product.html" class="block py-5 bg-white")
                    img(src=`../../assets/images/${data.image}` class="rounded-[4px] w-auto h-[130px] 4xl:h-[110px] mx-auto" alt="product image")
            div.pt-2 
                a(href="product.html" class="flex flex-col gap-[0.3rem]")     
                    h4(class="dark:text-white").font-bold.text-sm.text-title.line-clamp-1= data.productName
                    div.flex.items-center(class="pt-0.5 gap-1")
                        span.text-xs.font-bold.text-primary= data.price
                        del.text-content3.text-xs.text-semibold= data.deletePrice
                    div.flex.gap-1.justify-between 
                        div.flex.flex-wrap.gap-2
                            div.rating
                                input.rating-star-2.bg-warning(type='radio' name='rating-1' class="w-4 h-4")
                                input.rating-star-2.bg-warning(type='radio' name='rating-1' class="w-4 h-4")
                                input.rating-star-2.bg-warning(type='radio' name='rating-1' class="w-4 h-4")
                                input.rating-star-2.bg-warning(type='radio' name='rating-1' class="w-4 h-4" checked='')
                                input.rating-star-2.bg-border-light(type='radio' name='rating-1' class="w-4 h-4 ")                  
                        ul.flex.color-variant(class="gap-[3px]")
                            li(class="leading-[normal]")
                                button.w-3.h-3.bg-primary.rounded-full(type="button")
                            li(class="leading-[normal]")
                                button.w-3.h-3.bg-secondary.rounded-full(type="button")
                            li(class="leading-[normal]")
                                button.w-3.h-3.bg-title.rounded-full(type="button")

        div(class="rtl:border-border-light rtl:border-t").card-footer.pt-2.border-t.border-border-light 
            ul.timer.countdown-8.flex.gap-1.justify-center.items-center
                li
                    span.days.time-value
                    span.timer-label Days
                li
                    span.hours.time-value
                    span.timer-label Hours
                li
                    span.minutes.time-value
                    span.timer-label Min
                li
                    span.seconds.time-value
                    span.timer-label Sec




