
//- customizer 
-var customizer=false;

//- landing
-var landing=true; 

//- fontAwesome
-var fontAwesome=true; 

//- feather
-var feather=true; 

//- all JSON  
include ../../data/all-data

//- all mixin
include ../../mixin/mixin

doctype html
html(lang='en')
  include ../../layout/header-files
  body(dir="ltr" class="unique-skin")
    main.page-wrapper.landing-main
      div(class="backdrop-blur-sm header-sticky top-0 left-0 w-full z-[100] bg-white relative")
        div.container.relative
          include ../../layout/header/landing-header 
      section#home(class="home-wrapper")
        div.relative.bg-landing-size  
          img(class="hidden bg-img" src="../../assets/images/landing/svg/header.png" alt="banner")                    
          div(class="home-section lg:px-[15px] sm:py-0 px-[calc(25px_+_(224_-_25)_*_((100vw_-_320px)_/_(1920_-_320)))] py-[calc(2.2rem_+_(5.5_-_2.2)_*_((100vw_-_320px)_/_(1920_-_320)))] relative h-full lg:h-auto")
            div.grid.grid-cols-2.h-full           
              div.col-span-1.flex.items-center(class="h-[90vh] 2xl:h-[58vh] 5xl:h-[84vh] 4xl:h-[77vh] xl:h-[53vh] lg:mt-[-5px] lg:py-section-space lg:col-span-2 lg:text-center lg:max-w-[70%] 2md:max-w-[100%] lg:mx-auto lg:h-auto") 
                div(class="w-full") 
                  h1.text-white(class="text-5xl 2xl:text-[38px] xl:text-[34px] 2xl:leading-[2.75rem] xl:leading-[2.5rem] leading-[3.5rem] font-semibold sm:text-lg sm:leading-7 lg:text-4xl-responsive font-poppins") 
                    span(class="uppercase text-5xl 2xl:text-[38px] xl:text-[34px] 2xl:leading-[2.75rem] xl:leading-[2.5rem] leading-[3.5rem] font-semibold sm:text-lg sm:leading-7 lg:text-4xl-responsive font-poppins") No jQuery 
                    br(class="lg:hidden")   
                    | Tailwind Admin Template  
                  p.mt-4.font-semibold(class="truncate-3 w-[80%] lg:mx-auto lg:block text-base-responsive text-content 2xl:mt-2 2xl:leading-6") The Govo UI components have been crafted with Tailwind to satisfy most of the use cases, allowing you to kickstart any project with confidence.
                  div.flex.items-center(class="flex-wrap lg:justify-center lg:gap-[5px]  gap-[calc(0px_+_(12_-_0)_*_((100vw_-_320px)_/_(1920_-_320)))] mt-8 2xl:mt-6 lg:mt-5")
                    a.flex.items-center(class="gap-[5px] 2sm:text-3xs  btn btn-secondary 2xl:py-2 text-white" href="https://themeforest.net/user/pixelstrap/portfolio" target="_blank") 
                      +SVG_ICON("Buy", "w-5 h-5 stroke-white")
                      span.text-sm.font-semibold Purchase Now       
                    a.flex.items-center(class="gap-[5px] 2sm:text-3xs  btn btn-success 2xl:py-2 text-white" href="../document/index.html" target="_blank")
                      +SVG_ICON("Document", "w-5 h-5 stroke-white")
                      span.text-sm.font-semibold Documentation 
              div.col-span-1(class="lg:hidden")       
                div.relative(class="lg:w-[70%] m-auto")  
                  img(class="w-auto transform -rotate-6 absolute top-[30px] right-[-310px] xl:right-[-200px] border border-white rounded-[20px] z-[3] 4xl:right-[-260px]" src="../../assets/images/landing/dashboard/default.png" alt="banner")
                  img(class="w-auto transform -rotate-6 absolute top-[155px] right-[-120px] xl:right-[-30px] 2xl:top-[110px] border border-white rounded-[20px] z-[2]" src="../../assets/images/landing/dashboard/ecommerce.png" alt="banner")
            div 
              span.text-primary.font-bold(class="text-[30px] font-caveat absolute top-[13%] 4xl:top-[16%] 2xl:top-[6%]  right-[44%] transform -rotate-12 lg:hidden 4xl:right-[45%] 2xl:right-[43%] xl:right-[48%]") Trending 
              img(src="../../assets/images/landing/svg/arrow.svg" class="trending-animate text-[30px] font-caveat absolute top-[14%] 4xl:top-[17%] 2xl:top-[7%] right-[39%] 2xl:right-[35%] xl:right-[40%] transform rotate-3 lg:hidden" alt="arrow")
              img(class="absolute left-[7%] top-[8%] animate__animated animate__infinite animate__pulse animate__delay-3 sm:hidden" src="../../assets/images/landing/svg/Group-4.svg" alt="shape")
              img(class="absolute left-[11%] bottom-0 animate__animated animate__infinite animate__pulse animate__delay-3 sm:hidden" src="../../assets/images/landing/svg/Group-5.svg" alt="shape")
              img(class="absolute left-[30%] top-[20%] animate__animated animate__infinite animate__pulse lg:hidden" src="../../assets/images/landing/svg/cross.svg" alt="cross")
              img(class="absolute left-[39%] bottom-[30%] lg:right-[8%] lg:left-unset lg:bottom-[25%] animate__animated animate__infinite animate__pulse xl:left-[44%]" src="../../assets/images/landing/svg/circle.svg" alt="circle")
              div.wavy-gif(class="right-[15%] sm:hidden top-[3%] lg:top-[5%]")
                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 251 38')
                  path(fill='none' stroke-width='10' stroke-miterlimit='10' d='M0,9C17.93,9,17.93,29,35.85,29S53.78,9,71.71,9s17.92,20,35.85,20S125.49,9,143.42,9s17.93,20,35.86,20S197.21,9,215.14,9,233.07,29,251,29')
              div.wavy-gif(class="right-[15%] sm:hidden top-[4.5%] lg:top-[8.5%]")
                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 251 38')
                  path(fill='none' stroke-width='10' stroke-miterlimit='10' d='M0,9C17.93,9,17.93,29,35.85,29S53.78,9,71.71,9s17.92,20,35.85,20S125.49,9,143.42,9s17.93,20,35.86,20S197.21,9,215.14,9,233.07,29,251,29')

      section(class="bg-white py-section-space" id="") 
        div.container
          div(class="max-w-[46%] 2xl:max-w-[70%] 2md:max-w-[100%] mx-auto text-center mb-9 lg:mb-7 sm:mb-5 2xl:mb-8")
            h2.text-title.font-semibold(class="leading-none") Admin 
              span.text-primary.font-semibold Unique Layouts
            p(class=" text-base-responsive text-content3 font-semibold  leading-[1.5] mt-2") We comes up with most creative and useful main general Purpose Dashboard Template
          div.grid.grid-cols-12(class="gap-card-gap")
            div.col-span-6(class="sm:col-span-12") 
              a(href="./index.html" class="block text-center transition-all framework-hover group hover:-translate-y-2 ")
                div(class="overflow-hidden transition-all border-[15px] rounded-3xl border-primary-light")
                  img(class="w-full rounded-5 transition-al " src="../../assets/images/landing/dashboard/default.jpg" alt="dashboard") 
                h3.text-primary.text-lg.font-medium.mt-3(class="2xl:mt-2 hover-underline-animation") Unique Dashboard    
            div.col-span-6(class="sm:col-span-12") 
              a(href="./ecommerce.html" class="block text-center transition-all framework-hover group hover:-translate-y-2")
                div(class="overflow-hidden transition-all border-[15px] rounded-3xl border-secondary-extralight")
                  img(class="w-full transition-all rounded-5" src="../../assets/images/landing/dashboard/ecommerce.jpg" alt="dashboard") 
                h3.text-secondary.text-lg.font-medium.mt-3(class="2xl:mt-2 hover-underline-animation") Ecommerce Dashboard   

      section(class="py-section-space bg-landingBg" id="framework")
        div.container
          div(class="max-w-[47%] 2xl:max-w-[70%] 2md:max-w-[100%] mx-auto text-center mb-9 lg:mb-7 sm:mb-5")
            h2.text-title.font-semibold Pre-Build 
              span.text-primary.font-semibold Components
            p(class=" text-base-responsive text-content3 font-semibold  leading-[1.5] mt-2") Tailwindcss is the utility-first CSS framework, tailwind provide utility classes with the help of utility classes you can build your component but we already  make most use full component that cover your front end.
          div.grid.grid-cols-12(class="gap-card-gap")
            div.col-span-2(class="2xl:col-span-3 2lg:col-span-4 2md:col-span-6 2sm:col-span-12")
              div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                  +SVG_ICON("Bold-Button" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Buttons 
            div.col-span-2(class="2xl:col-span-3 2lg:col-span-4 2md:col-span-6 2sm:col-span-12")
              div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                  +SVG_ICON("Bold-User" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Avatars
            div.col-span-2(class="2xl:col-span-3 2lg:col-span-4 2md:col-span-6 2sm:col-span-12")
              div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                  +SVG_ICON("Bold-Medal" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Badges 
            div.col-span-2(class="2xl:col-span-3 2lg:col-span-4 2md:col-span-6 2sm:col-span-12")
              div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                  +SVG_ICON("Bold-Bar" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Progress
            div.col-span-2(class="2xl:col-span-3 2lg:col-span-4 2md:col-span-6 2sm:col-span-12") 
              div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                  +SVG_ICON("Bold-Network" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Modal 
            div.col-span-2(class="2xl:col-span-3 2lg:col-span-4 2md:col-span-6 2sm:col-span-12") 
              div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                  +SVG_ICON("Bold-Danger" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Alert
            div.col-span-2(class="2xl:col-span-3 2lg:col-span-4 2md:col-span-6 2sm:col-span-12")
              div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                  +SVG_ICON("Bold-Download" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Dropdown 
            div.col-span-2(class="2xl:col-span-3 2lg:col-span-4 2md:col-span-6 2sm:col-span-12")
              div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                  +SVG_ICON("Arrows-Action" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Collapse
            div.col-span-2(class="2xl:col-span-3 2lg:col-span-4 2md:col-span-6 2sm:col-span-12")
              div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                  +SVG_ICON("Bold-Paperclip" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Tooltip 
            div.col-span-2(class="2xl:col-span-3 2lg:col-span-4 2md:col-span-6 2sm:col-span-12")
              div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                  +SVG_ICON("Sim-Card" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Divider
            div.col-span-2(class="2xl:col-span-3 2lg:col-span-4 2md:col-span-6 2sm:col-span-12")
              div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                  +SVG_ICON("Bold-Money" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Breadcrumbs 
            div.col-span-2(class="2xl:col-span-3 2lg:col-span-4 2md:col-span-6 2sm:col-span-12")
              div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                  +SVG_ICON("List-Bill" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Pagination 
            div.col-span-2(class="2xl:col-span-3 2lg:col-span-4 2md:col-span-6 2sm:col-span-12")
              div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                  +SVG_ICON("Database" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Carousel 
            div.col-span-2(class="2xl:col-span-3 2lg:col-span-4 2md:col-span-6 2sm:col-span-12")
              div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                  +SVG_ICON("Pie-Chart" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Radial Progress
            div.col-span-2(class="2xl:col-span-3 2lg:col-span-4 2md:col-span-6 2sm:col-span-12")
              div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                  +SVG_ICON("Bold-Feed" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Indicator 
            div.col-span-2(class="2xl:col-span-3 2lg:col-span-4 2md:col-span-6 2sm:col-span-12")
              div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                  +SVG_ICON("Bold-star" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Mask
            div.col-span-2(class="2xl:col-span-3 2lg:col-span-4 2md:col-span-6 2sm:col-span-12")
              div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                  +SVG_ICON("Duotone-Layer" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Stack 
            div.col-span-2(class="2xl:col-span-3 2lg:col-span-4 2md:col-span-6 2sm:col-span-12")
              div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                  +SVG_ICON("Duotone" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Steps
            div.col-span-2(class="2xl:col-span-3 2lg:col-span-4 2md:col-span-6 2sm:col-span-12")
              div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                  +SVG_ICON("Bold-Widget" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Tabs 
            div.col-span-2(class="2xl:col-span-3 2lg:col-span-4 2md:col-span-6 2sm:col-span-12") 
              div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                  +SVG_ICON("Bold-Emoji" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Rating
            div.col-span-2(class="2xl:col-span-3 2lg:col-span-4 2md:col-span-6 2sm:col-span-12")
              div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                  +SVG_ICON("Bold-Bag" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Select 
            div.col-span-2(class="2xl:col-span-3 2lg:col-span-4 2md:col-span-6 2sm:col-span-12")
              div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                  +SVG_ICON("Bold-Record" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Switch
            div.col-span-2(class="2xl:col-span-3 2lg:col-span-4 2md:col-span-6 2sm:col-span-12")
              div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                  +SVG_ICON("Bold-Check" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Checkboxes

      section(class="bg-white py-section-space" id="application")
        div.container
          div(class="max-w-[46%] 2xl:max-w-[70%] 2md:max-w-[100%] mx-auto text-center mb-9 lg:mb-7 sm:mb-5 2xl:mb-8")
            h2.text-title.font-semibold(class="leading-none") Useful  
              span.text-primary.font-semibold Application
            p(class=" text-base-responsive text-content3 font-semibold  leading-[1.5] mt-2") We provide Most Useful App That help you to manage all thing on one side
          div.grid.grid-cols-12(class="gap-card-gap")
            div.col-span-4(class="xl:col-span-6 sm:col-span-12")
              a(href="./chat-app.html" class="block text-center transition-all framework-hover group hover:-translate-y-2")
                div(class="overflow-hidden transition-all border-[15px] rounded-3xl border-primary-light")
                  img(class="w-full object-contain h-[270px] lg:h-auto rounded-5 transition-all" src="../../assets/images/landing/app/chat.jpg" alt="dashboard") 
                  div.bg-primary-light
                    h3.text-primary.text-lg.font-medium.mt-2(class="hover-underline-animation") Chat App    
            div.col-span-4(class="xl:col-span-6 sm:col-span-12") 
              a(href="./calendar.html" class="block text-center transition-all framework-hover group hover:-translate-y-2")
                div(class="overflow-hidden transition-all border-[15px] rounded-3xl border-secondary-extralight")
                  img(class="w-full object-contain h-[270px] lg:h-auto transition-all rounded-5" src="../../assets/images/landing/app/calendar.jpg" alt="dashboard") 
                  div.bg-secondary-extralight 
                    h3.text-secondary.text-lg.font-medium.mt-2(class="hover-underline-animation") Calendar App  
            div.col-span-4(class="xl:col-span-6 sm:col-span-12") 
              a(href="./email.html" class="block text-center transition-all framework-hover group hover:-translate-y-2")
                div(class="overflow-hidden transition-all border-[15px] rounded-3xl border-warning-extralight")
                  img(class="w-full object-contain h-[270px] lg:h-auto transition-all rounded-5" src="../../assets/images/landing/app/email.jpg" alt="dashboard") 
                  div.bg-warning-extralight
                    h3.text-warning.text-lg.font-medium.mt-2(class="hover-underline-animation") Email App 
            div.col-span-4(class="xl:col-span-6 sm:col-span-12") 
              a(href="./kanban-board.html" class="block text-center transition-all framework-hover group hover:-translate-y-2")
                div(class="overflow-hidden transition-all border-[15px] rounded-3xl border-warning-extralight")
                  img(class="w-full object-contain h-[270px] lg:h-auto rounded-5 transition-all" src="../../assets/images/landing/app/kanban.jpg" alt="dashboard") 
                  div.bg-warning-extralight
                    h3.text-warning.text-lg.font-medium.mt-2(class="hover-underline-animation") Kanban Board App    
            div.col-span-4(class="xl:col-span-6 sm:col-span-12") 
              a(href="./todo.html" class="block text-center transition-all framework-hover group hover:-translate-y-2")
                div(class="overflow-hidden transition-all border-[15px] rounded-3xl border-primary-light")
                  img(class="w-full object-contain h-[270px] lg:h-auto transition-all rounded-5" src="../../assets/images/landing/app/todo.jpg" alt="dashboard") 
                  div.bg-primary-light
                    h3.text-primary.text-lg.font-medium.mt-2(class="hover-underline-animation") Todo App 
            div.col-span-4(class="xl:col-span-6 sm:col-span-12") 
              a(href="./user-profile.html" class="block text-center transition-all framework-hover group hover:-translate-y-2")
                div(class="overflow-hidden transition-all border-[15px] rounded-3xl border-secondary-extralight")
                  img(class="w-full object-contain h-[270px] lg:h-auto transition-all rounded-5" src="../../assets/images/landing/app/user.jpg" alt="dashboard") 
                  div.bg-secondary-extralight
                    h3.text-secondary.text-lg.font-medium.mt-2(class="hover-underline-animation") User App

      section(class="py-section-space bg-landingBg" id="core-feature")
        div.container
          div(class="max-w-[46%] 2xl:max-w-[70%] 2md:max-w-[100%] mx-auto text-center mb-9 lg:mb-7 sm:mb-5 2xl:mb-8")
            h2.text-title.font-semibold(class="leading-none") Our Core  
              span.text-primary.font-semibold Features
            p(class=" text-base-responsive text-content3 font-semibold  leading-[1.5] mt-2") Create your web application amazing and more professional with this super user-friendly dashboard template
          div.grid.grid-cols-12(class="gap-card-gap")
            div.col-span-3(class="xl:col-span-4 2lg:col-span-6 sm:col-span-12")
              div.flex.flex-col.gap-4.rounded-border-main.bg-white(class="border p-5 group rounded-[10px] rounded-border-main hover:bg-primary hover:translate-y-[-5px] hover:transition-all hover:ease translate-y-0")
                div.rounded-border.w-fit
                  img(class="w-12 h-12 bg-primary-extralight group-hover:bg-white p-[10px] rounded-full" src="../../assets/images/landing/feature/1.svg" alt="feature")
                div 
                  h3(class="mb-2 text-base font-bold truncate md:mb-1 xl:text-sm md:text-xs text-title group-hover:text-white") Quality & Clean Code
                  p(class="text-sm font-semibold sm:text-xs text-content3 line-clamp-3 lg:line-clamp-2 md:line-clamp-3 group-hover:text-white") Code is spited multiple mini component and well commenting it super easy to maintain and  easy to use.
            div.col-span-3(class="xl:col-span-4 2lg:col-span-6 sm:col-span-12")
              div.flex.flex-col.gap-4.rounded-border-main.bg-white(class="border p-5 group rounded-[10px] rounded-border-main hover:bg-primary hover:translate-y-[-5px] hover:transition-all hover:ease translate-y-0")
                div.rounded-border.w-fit
                  img(class="w-12 h-12 bg-primary-extralight group-hover:bg-white p-[10px] rounded-full" src="../../assets/images/landing/feature/2.svg" alt="feature")
                div 
                  h3(class="mb-2 text-base font-bold truncate md:mb-1 xl:text-sm md:text-xs text-title group-hover:text-white") Tailwind Css
                  p(class="text-sm font-semibold sm:text-xs text-content3 line-clamp-3 lg:line-clamp-2 md:line-clamp-3 group-hover:text-white")  A utility-first CSS framework packed with classes that can be composed to build any design, directly in your markup.  
            div.col-span-3(class="xl:col-span-4 2lg:col-span-6 sm:col-span-12") 
              div.flex.flex-col.gap-4.rounded-border-main.bg-white(class="border p-5 group rounded-[10px] rounded-border-main hover:bg-primary hover:translate-y-[-5px] hover:transition-all hover:ease translate-y-0")
                div.rounded-border.w-fit
                  img(class="w-12 h-12 bg-primary-extralight group-hover:bg-white p-[10px] rounded-full" src="../../assets/images/landing/feature/3.svg" alt="feature")
                div
                  h3(class="mb-2 text-base font-bold truncate md:mb-1 xl:text-sm md:text-xs text-title group-hover:text-white") Reuseable Pug Code 
                  p(class="text-sm font-semibold sm:text-xs text-content3 line-clamp-3 lg:line-clamp-2 md:line-clamp-3 group-hover:text-white") With pug Code is super less and reusable component. and there is most of component made with Mixins  
            div.col-span-3(class="xl:col-span-4 2lg:col-span-6 sm:col-span-12")
              div.flex.flex-col.gap-4.rounded-border-main.bg-white(class="border p-5 group rounded-[10px] rounded-border-main hover:bg-primary hover:translate-y-[-5px] hover:transition-all hover:ease translate-y-0")
                div.rounded-border.w-fit
                  img(class="w-12 h-12 bg-primary-extralight group-hover:bg-white p-[10px] rounded-full" src="../../assets/images/landing/feature/4.svg" alt="feature")
                div 
                  h3(class="mb-2 text-base font-bold truncate md:mb-1 xl:text-sm md:text-xs text-title group-hover:text-white") Intrigante Scss 
                  p(class="text-sm font-semibold sm:text-xs text-content3 line-clamp-3 lg:line-clamp-2 md:line-clamp-3 group-hover:text-white") We implement Tailwind With Scss So We can also use Scss features like nesting, variables etc..
            div.col-span-3(class="xl:col-span-4 2lg:col-span-6 sm:col-span-12")
              div.flex.flex-col.gap-4.rounded-border-main.bg-white(class="border p-5 group rounded-[10px] rounded-border-main hover:bg-primary hover:translate-y-[-5px] hover:transition-all hover:ease translate-y-0")
                div.rounded-border.w-fit
                  img(class="w-12 h-12 bg-primary-extralight group-hover:bg-white p-[10px] rounded-full" src="../../assets/images/landing/feature/5.svg" alt="feature")
                div 
                  h3(class="mb-2 text-base font-bold truncate md:mb-1 xl:text-sm md:text-xs text-title group-hover:text-white") Gulp compiler
                  p(class="text-sm font-semibold sm:text-xs text-content3 line-clamp-3 lg:line-clamp-2 md:line-clamp-3 group-hover:text-white")  flexibility of JavaScript to automate slow, repetitive workflows and compose them into efficient build pipelines.
            div.col-span-3(class="xl:col-span-4 2lg:col-span-6 sm:col-span-12")
              div.flex.flex-col.gap-4.rounded-border-main.bg-white(class="border p-5 group rounded-[10px] rounded-border-main hover:bg-primary hover:translate-y-[-5px] hover:transition-all hover:ease translate-y-0")
                div.rounded-border.w-fit
                  img(class="w-12 h-12 bg-primary-extralight group-hover:bg-white p-[10px] rounded-full" src="../../assets/images/landing/feature/6.svg" alt="feature")
                div 
                  h3(class="mb-2 text-base font-bold truncate md:mb-1 xl:text-sm md:text-xs text-title group-hover:text-white") Easy Customizable
                  p(class="text-sm font-semibold sm:text-xs text-content3 line-clamp-3 lg:line-clamp-2 md:line-clamp-3 group-hover:text-white") you can easily  customize according to your desire by adding some classes like dark,rtl,icon sidebar etc... 
            div.col-span-3(class="xl:col-span-4 2lg:col-span-6 sm:col-span-12")
              div.flex.flex-col.gap-4.rounded-border-main.bg-white(class="border p-5 group rounded-[10px] rounded-border-main hover:bg-primary hover:translate-y-[-5px] hover:transition-all hover:ease translate-y-0")
                div.rounded-border.w-fit
                  img(class="w-12 h-12 bg-primary-extralight group-hover:bg-white p-[10px] rounded-full" src="../../assets/images/landing/feature/7.svg" alt="feature")
                div 
                  h3(class="mb-2 text-base font-bold truncate md:mb-1 xl:text-sm md:text-xs text-title group-hover:text-white") Responsive & User-Friendly
                  p(class="text-sm font-semibold sm:text-xs text-content3 md:font-normal line-clamp-3 lg:line-clamp-2 md:line-clamp-3 group-hover:text-white") This admin template are optimize to support  all screen size devices and user easily interact to design
            div.col-span-3(class="xl:col-span-4 2lg:col-span-6 sm:col-span-12")
              div.flex.flex-col.gap-4.rounded-border-main.bg-white(class="border p-5 group rounded-[10px] rounded-border-main hover:bg-primary hover:translate-y-[-5px] hover:transition-all hover:ease translate-y-0")
                div.rounded-border.w-fit
                  img(class="w-12 h-12 bg-primary-extralight group-hover:bg-white p-[10px] rounded-full" src="../../assets/images/landing/feature/8.svg" alt="feature")
                div 
                  h3(class="mb-2 text-base font-bold truncate md:mb-1 xl:text-sm md:text-xs text-title group-hover:text-white") Limit less Components
                  p(class="text-sm font-semibold sm:text-xs text-content3 md:font-normal line-clamp-3 lg:line-clamp-2 md:line-clamp-3 group-hover:text-white") We provide most use full pre build components like buttons,swap,tabs etc.., that help you to build your front end easily 

      footer.relative(class="overflow-hidden" id="footer")   
        img(class="mx-auto xl:h-[200px] sm:h-[150px]" src="../../assets/images/landing/svg/footer.png" alt="banner")
        img(class="absolute left-[15%] top-[8%] animate__animated animate__infinite animate__pulse animate__delay-3" src="../../assets/images/landing/svg/Group-4.svg" alt="shape")
        img(class="absolute right-[7%] bottom-0 animate__animated animate__infinite animate__pulse animate__delay-3" src="../../assets/images/landing/svg/Group-6.svg" alt="shape")
        img(class="absolute left-[31%] bottom-[22%] animate__animated animate__infinite animate__pulse md:hidden" src="../../assets/images/landing/svg/cross.svg" alt="cross")
        div.wavy-gif(class="right-[16%] sm:hidden top-[15%]")
          svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 251 38')
            path(fill='none' stroke-width='10' stroke-miterlimit='10' d='M0,9C17.93,9,17.93,29,35.85,29S53.78,9,71.71,9s17.92,20,35.85,20S125.49,9,143.42,9s17.93,20,35.86,20S197.21,9,215.14,9,233.07,29,251,29')
        div.wavy-gif(class="right-[16%] sm:hidden top-[11.5%]")
          svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 251 38')
            path(fill='none' stroke-width='10' stroke-miterlimit='10' d='M0,9C17.93,9,17.93,29,35.85,29S53.78,9,71.71,9s17.92,20,35.85,20S125.49,9,143.42,9s17.93,20,35.86,20S197.21,9,215.14,9,233.07,29,251,29')
        div(class="absolute left-1/2 top-[51%] md:top-[50%] 2sm:px-[30px] w-[70%] sm:w-[100%] -translate-x-1/2 -translate-y-1/2 text-center py-4")
          h3(class="text-white font-medium text-[50px] 4xl:text-[40px] xl:text-[30px] lg:text-[24px] sm:text-[22px]") Thanks to choose Govo Admin
          a.inline-flex.items-center.text-sm.font-semibold(class="mt-7 2xl:mt-5 lg:mt-3 gap-[5px] 2sm:text-3xs  btn btn-secondary 2xl:py-2 text-white " href="https://support.pixelstrap.com/" target="_blank") Support   

      div(class="fixed z-10 flex items-center p-3 transition-all scale-0 rounded-full cursor-pointer tap-to-top-box xl:p-2 right-6 bg-secondary bottom-6")
        button(class="tap-to-top-button")
          i(data-feather="chevrons-up" class="xl:w-5 xl:h-5 stroke-white")   


    include ../../layout/footer-files
//- customizer 
-var customizer=true;








